.mainContainer {
    display: block;
    height: 81vh;
    width: 100%;
}

.example-margin {
    margin: 0 10px;
}

.fill-space {
    flex: 1 1 auto;
}

mat-icon {
    cursor: pointer;
}

.logTrackableName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}