<div style="display:block; height:100%; width:100%;">
    <div class="healthgradesgif">
        <div><img height="100px" src="../../../assets/images/logo-white-new.png" /></div>
        <div>
            <button mat-button style="margin-top: 10px; font-size:14pt" (click)="navigateToLogin()"><u>Login</u></button>
            <button mat-button color="warn" style="margin-left: 10px; margin-top: 10px; font-size:14pt" (click)="navigateToRegister()"><u>Register</u></button>
        </div>
    </div>
</div>