<!--The content below is only a placeholder and can be replaced.-->
<!-- <mat-toolbar color="primary" class="toolbarStyle">
  <img style="-webkit-user-select: none; height: 40px;"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTc7X94dmDEul_qsarCSjoxpwAxSW4vYmuFl3Bb0Cli604RVBSyzw">
  <span style="padding-left: 10px;">{{ title }}</span>
  <span class="example-fill-remaining-space"></span>
  <span></span>
</mat-toolbar> -->
<div style="background: #3f51b5; height: 100vh;">
    <router-outlet></router-outlet>
<div>