<div style="height: 56px">
    <app-toolbar></app-toolbar>
</div>
<div class="mainContainer" style="overflow-y:auto; height: calc(100vh - 112px);">
    <div>
        <!-- <mat-card style="margin: 15px;"> -->
        <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
            <ng-template ngbSlide *ngFor="let image of images; let i = index">
                <mat-toolbar style="height:40px; background-color: #3f51b5; color: white">Trackable {{i + 1}}</mat-toolbar>
                <mat-card class="goCutBox" style="margin: 5px 15px 15px  15px;">
                    <div class="pieChart">
                        <mat-toolbar>Pie Chart</mat-toolbar>
                        <canvas id='pieChart{{i}}' style="margin:10px 10px 10px 10px;"></canvas>
                    </div>
                    <div class="barChart">
                        <mat-toolbar>Bar Chart</mat-toolbar>
                        <canvas id='barChart{{i}}' style="margin-top: 10px;"></canvas>
                    </div>
                </mat-card>
                <div class="carousel-caption">
                </div>
            </ng-template>
        </ngb-carousel>
        <!-- </mat-card> -->
    </div>
</div>
<div style="height: 56px ">
    <app-footer></app-footer>
</div>