<div class="mainContainer">
    <mat-card class="example-card loginContainer">
        <mat-card-content>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Register
                </div>
                <div class="panel-body" style="overflow-y:auto;">
                    <form class="example-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <mat-form-field class="form-group example-full-width">
                            <input matInput placeholder="First Name" type="text" formControlName="FIRST_NAME" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                        </mat-form-field>
                        <div *ngIf="submitted && f.FIRST_NAME.errors" class="invalid-feedback">
                            <div *ngIf="f.FIRST_NAME.errors.required">First name is required</div>
                        </div>
                        <mat-form-field class="form-group example-full-width">
                            <input matInput placeholder="Last Name" type="text" formControlName="LAST_NAME" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                        </mat-form-field>
                        <div *ngIf="submitted && f.LAST_NAME.errors" class="invalid-feedback">
                            <div *ngIf="f.LAST_NAME.errors.required">Last name is required</div>
                        </div>
                        <mat-form-field class="form-group example-full-width">
                            <input matInput placeholder="User Name" type="text" formControlName="USERNAME" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                        </mat-form-field>
                        <div *ngIf="submitted && f.USERNAME.errors" class="invalid-feedback">
                            <div *ngIf="f.USERNAME.errors.required">Username is required</div>
                        </div>
                        <mat-form-field class="form-group example-full-width">
                            <input matInput placeholder="Password" type="password" formControlName="PASSWORD" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        </mat-form-field>
                        <div *ngIf="submitted && f.PASSWORD.errors" class="invalid-feedback">
                            <div *ngIf="f.PASSWORD.errors.required">Password is required</div>
                        </div>
                        <div class="form-group">
                            <!-- <button mat-raised-button color="accent" class="tenMarginTop">Register</button> -->
                            <a mat-raised-button color="accent" class="tenMarginTop" routerLink="/healthpoints">Cancel</a>
                            <button mat-raised-button class="floatRight tenMarginTop" color="primary" [disabled]="loading">Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
        </mat-card-content>
    </mat-card>
</div>